body{
    color : #363958
}

p{
    font-size: 22px;
}

.for_h1_text , .for_title_heading {
    font-family: 'Bebas Neue', cursive;
}
.for_title_heading{
    font-size: 60px;
}

.for_h1_text{  
    font-style: normal;
    font-size: 80px;
    line-height: 80px;
}

.for_aTag{
    color: black;
    font-weight: 700;
    
}
.for_price{
    font-weight: 700;
}

.container_bg  {
    background-color: #FFF9F4;
}

.for_header_logo img {
    width: 400px;
}

.for_header_logo img , .for_big_logo img  {
    background: 0;
    border: 0;
}

.for_btn_shopping img{
    width: 20px;
}

.for_h1_color , .for_price{
    color: #FA804C;
}

.for_btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #3A4ADC;
    padding: 0 15px;
    cursor: pointer;
}

/* ################## For Card Styling ################## */

.shoe_card{
    border: 0;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px;
}

.shoe_card img{
    width: 350px;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 10px auto;
}

.shoe_card_footer{
    border: 0;
    border-radius: 20px !important;
}


.shoe_card_2 img{
    background-color: white;
}

/* ################## Last Area ################## */

.for_last_img img{
    width: 100%;
}

.row_icon{
    width: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0;
}
.row_icon img{
    width: 100%;
}
